
@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
    background-image: url("../images/stars.jpg"); 
    font-family: 'Lato', sans-serif;
    }

h1 {
    text-align: center  
}
div.foo{
    width: 100%;
    margin: 0 auto;
  }
  .letter{
    display: inline-block;
    font-weight: 900;
    font-size: 50px;
    margin: 0.2em;
    position: relative;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
    background-image: url("../images/al.jpg");
    background-position: 500px -60px;
    background-repeat: repeat;
  }
  .letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
  }
  .letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
  }
  .letter:before{
    color: rgb(206, 10, 10);
    text-shadow: 
      -1px 0px 1px rgba(26, 15, 75, 0.8),
      1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
      rotateX(0deg)
      rotateY(-15deg)
      rotateZ(0deg);
  }
  .letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
  }
  .letter:hover:before{
    color: #a71414;
    transform:
      rotateX(0deg)
      rotateY(-40deg)
      rotateZ(0deg);
  }
  .letter:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(40deg)
      rotateZ(0deg)
      skew(0deg,22deg);
  }

  .jumbotron{
    color: green;
    height: 50%;
    font-size: 90px;
    background-image: url("../images/planets.jpg");
    background-repeat: no-repeat;
    background-position: -180px -450px;
    border: groove 8px rgb(43, 255, 0); 
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;  
}
p {
    font-size: 20px;
    text-align: center; 
    padding: 15px;
    margin:10px;
    color:rgb(43, 255, 0);
    font-family: 'Lato', sans-serif;
}
   #pltIMG{ 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .keystrtMargin {
    margin-left: 0px;
    margin-bottom: 0px;
    color: white;
    padding: 5px;
    background-color: black
  }

  .marginSet{
    padding-left: 0px;
    padding-right: 0px; 
  }

  .border1{
      border: groove 8px rgb(43, 255, 0);
      padding-top:0px; 
  }

  .backgroundAll {
    background-color: rgba(0, 189, 79, 0.178); 
  }

 .ple {
   color: green;
   font-style: oblique;
   font-size: 25px;
   text-shadow: 2px 2px floralwhite;
 }
 #wrongL {
   color: red;
   font-size: 30px;
 }
 #win{
   position: relative;
   color: green;
   font-size: 45px;
   
 }
 #guessR{
   color: yellow;
   font-size: 25px;
 }

 #title {
   font-size: 20px;
   color: rgb(255, 251, 0);
   text-shadow: white 2px 2px 2px;
   letter-spacing: 2px;
 }
 #pltPara {
  color: white;
  letter-spacing: 2px;
  font-size: 11px; 
}