
@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
    background-image: url("../images/stars.jpg"); 
    font-family: 'Lato', sans-serif;
    }

.jumbotron{
    color: green;
    font-size: 90px;
    background-image: url("../images/planets.jpg");
    background-repeat: no-repeat;
    background-position: -180px -450px;
    border: 3px solid rgb(36, 34, 34);
}
p {
    font-size: 30px;
    text-align: center; 
    padding: 10px;
    color: white;
}
.borders{
     border:dotted 8px rgb(255, 255, 255);
     position: relative;
     top: 10px;  
}
h1 {
    text-align: center  
}
div.foo{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .letter{
    display: inline-block;
    font-weight: 900;
    font-size: 100px;
    margin: 0.2em;
    position: relative;
    color: rgb(223, 219, 31);
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
    background-image: url("../images/al.jpg");
    background-position: 500px -60px;
  }
  .letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
  }
  .letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
  }
  .letter:before{
    color: rgb(206, 10, 10);
    text-shadow: 
      -1px 0px 1px rgba(26, 15, 75, 0.8),
      1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
      rotateX(0deg)
      rotateY(-15deg)
      rotateZ(0deg);
  }
  .letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
  }
  .letter:hover:before{
    color: #a71414;
    transform:
      rotateX(0deg)
      rotateY(-40deg)
      rotateZ(0deg);
  }
  .letter:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(40deg)
      rotateZ(0deg)
      skew(0deg,22deg);
  }
   #pltIMG{ 
       /* background-image: url("../images/uranus.jpg");   */
      /* background-image: url("../images/earth.jpg");  */
    position: relative;
    left: 20px;
    /*background-position: -280px -550px;*/
    background-repeat: no-repeat;
    width: 320px;
    height: 350px;
  }

  .row1 {
    position: relative;
    left: 244px;
    bottom: 50px;   
  }
  .row2 {
    position: relative;
    left: 244px;
    bottom: 45px;
    padding-bottom: 20px;     
  }
  .row3 {
    position: relative;
    left: 244px;
    bottom: 45px;     
  }
  .row4 {
    position: relative;
    left: 249px;
    bottom: 45px;  
  }
  .row5 {
    position: relative;
    left: 244px;
    bottom: 45px;
  }
 .ple {
   color: green;
   font-style: oblique;
   font-size: 60px;
   text-shadow: 2px 2px floralwhite;

 }